.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  width: 100%;
  background-color: #f5f5f5;
}

.stepper {
  width: 35rem;
  box-shadow: 0 0 10px 1px #999999;
}

.mx-10{
  margin: 0 10px;
}
