<div class="container">

  <mat-stepper class="stepper" [linear]="true" #stepper>

    <mat-step [stepControl]="goalForm">
      <form [formGroup]="goalForm">
        <h1>What is your primary goal?</h1>
        <div class="form-control">
          <span>Choose one:</span>
          <mat-radio-group formControlName="primaryGoal">
            <mat-radio-button class="d-block" value="Weight Loss">Weight Loss</mat-radio-button>
            <mat-radio-button class="d-block" value="Muscle Gain">Muscle Gain</mat-radio-button>
            <mat-radio-button class="d-block" value="Maintenance">Maintenance</mat-radio-button>
            <mat-radio-button class="d-block" value="Improved Health">Improved Health</mat-radio-button>
            <mat-radio-button class="d-block" value="other">
              Other
              <mat-form-field *ngIf="goalForm.get('primaryGoal')?.value === 'other'" subscriptSizing="dynamic">
                <input matInput formControlName="other" placeholder="Please specify">
              </mat-form-field>
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <button mat-raised-button class="mt-16" color="primary" matStepperNext [disabled]="goalForm.invalid">Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="userDetailsForm">
      <form [formGroup]="userDetailsForm">

        <h1>Please provide the following information?</h1>

        <div class="form-control">
          <span>Gender:</span>
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="form-control flex align-center gap-10">
          <span>Weight:</span>
          <mat-form-field subscriptSizing="dynamic">
            <input matInput formControlName="weight" type="number" placeholder="Weight">
          </mat-form-field>
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>Select</mat-label>
            <mat-select formControlName="weightMeasurement">
              <mat-option value="kgs">KG</mat-option>
              <mat-option value="lbs">LB</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-control flex align-center gap-10">
          <span>Height:</span>
          <mat-form-field subscriptSizing="dynamic">
            <input matInput formControlName="height" type="number" placeholder="Height">
          </mat-form-field>
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>Select</mat-label>
            <mat-select formControlName="heightMeasurement">
              <mat-option value="cm">Centimeters</mat-option>
              <mat-option value="inch">Inches</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="form-control">
          <span>Age:</span>
          <mat-form-field subscriptSizing="dynamic">
            <input matInput formControlName="age" type="number" placeholder="Age">
          </mat-form-field>
        </div>

        <div class="mt-16">
          <button mat-raised-button color="primary" class="mx-10" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" class="mx-10" matStepperNext [disabled]="userDetailsForm.invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="activityLevelForm">
      <form [formGroup]="activityLevelForm">

        <h1>What is your activity Level?</h1>

        <div class="form-control">
          <span>Choose one:</span>
          <mat-radio-group formControlName="activityLevel">
            <mat-radio-button class="d-block" matTooltip="Little to no exercise" value="Sedentary active">No Activity
            </mat-radio-button>
            <mat-radio-button class="d-block" matTooltip="Light exercise/sports 1-3 days/week" value="Lightly active">
              Lightly active
            </mat-radio-button>
            <mat-radio-button class="d-block" matTooltip="Moderate exercise/sports 3-5 days/week"
                              value="Moderately active">Moderately active
            </mat-radio-button>
            <mat-radio-button class="d-block" matTooltip="Hard exercise/sports 6-7 days a week" value="Very active">Very
              active
            </mat-radio-button>
            <mat-radio-button class="d-block" matTooltip="Very hard exercise/sports & physical job or 2x training"
                              value="Extremely active">Extremely active
            </mat-radio-button>
          </mat-radio-group>

        </div>

        <div class="mt-16">
          <button mat-raised-button color="primary" class="mx-10" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" class="mx-10" matStepperNext [disabled]="activityLevelForm.invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="dietaryForm">
      <form [formGroup]="dietaryForm">

        <h1>Dietary Preferences?</h1>

        <div class="form-control">
          <span>What is your diet</span>

          <mat-radio-group formControlName="diet">
            <mat-radio-button class="d-block" value="Omnivore">Omnivore</mat-radio-button>
            <mat-radio-button class="d-block" value="Vegetarian">Vegetarian</mat-radio-button>
            <mat-radio-button class="d-block" value="Vegan">Vegan</mat-radio-button>
            <mat-radio-button class="d-block" value="Pescatarian">Pescatarian</mat-radio-button>
            <mat-radio-button class="d-block" value="other">
              Other
              <mat-form-field *ngIf="dietaryForm.get('diet')?.value=== 'other'" subscriptSizing="dynamic">
                <input matInput formControlName="other" placeholder="Please specify">
              </mat-form-field>
            </mat-radio-button>
          </mat-radio-group>

        </div>
        <mat-divider></mat-divider>

        <!--        <div class="form-control mt-16">-->
        <!--          <fieldset formGroupName="dietaryPreferences">-->
        <!--            <legend>Dietary Preferences?</legend>-->
        <!--            <mat-checkbox formControlName="mediterranean" value="Mediterranean">Mediterranean</mat-checkbox>-->
        <!--            <mat-checkbox formControlName="paleo" value="Paleo">Paleo</mat-checkbox>-->
        <!--            <mat-checkbox formControlName="keto" value="Keto">Keto</mat-checkbox>-->
        <!--            <mat-checkbox formControlName="whole30" value="Whole30">Whole30</mat-checkbox>-->
        <!--            <mat-checkbox formControlName="lowCarb" value="Low-Carb">Low-Carb</mat-checkbox>-->
        <!--            <mat-checkbox formControlName="highProtein" value="High-Protein">High-Protein</mat-checkbox>-->
        <!--            <mat-form-field appearance="fill" subscriptSizing="dynamic">-->
        <!--              <mat-label>Other</mat-label>-->
        <!--              <input matInput formControlName="other" placeholder="Other">-->
        <!--            </mat-form-field>-->
        <!--          </fieldset>-->

        <!--        </div>-->

        <div class="mt-16">
          <button mat-raised-button color="primary" class="mx-10" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" class="mx-10" matStepperNext [disabled]="dietaryForm.invalid">Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="flavorsForm">
      <form [formGroup]="flavorsForm">

        <h1>Which flavors do you enjoy the most?</h1>

        <div class="form-control">
          <span class="gray">For example: Sweet, Spicy, Crunchy...</span>
          <br>

          <mat-form-field appearance="fill" class="w-100 mt-16">
            <mat-label>Favorite Flavors</mat-label>
            <mat-chip-grid #flavorChipGrid formControlName="flavorsList">
              <mat-chip-row *ngFor="let flavor of flavors"
                            (removed)="removeFlavor(flavor)">
                {{ flavor.name }}
                <button matChipRemove>
                  <mat-icon matChipRemove>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="New flavor..."
                     [matChipInputFor]="flavorChipGrid"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addFlavor($event)"/>
            </mat-chip-grid>
          </mat-form-field>

        </div>

        <div class="mt-16">
          <button mat-raised-button color="primary" class="mx-10" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" class="mx-10" matStepperNext [disabled]="flavorsForm.invalid">Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="mealsPerDayForm">
      <form [formGroup]="mealsPerDayForm">

        <h1>How many meals per day do you prefer?</h1>

        <div class="form-control">
          <span>Choose one:</span>
          <br>
          <mat-form-field class="mt-16" subscriptSizing="dynamic">
            <mat-label>Select</mat-label>
            <mat-select formControlName="mealsPerDay">
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="6">6</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="mt-16">
          <button mat-raised-button color="primary" class="mx-10" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" class="mx-10" matStepperNext [disabled]="mealsPerDayForm.invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="allergiesForm">
      <form [formGroup]="allergiesForm">

        <h1>Food allergies?</h1>

        <div class="form-control">
          <span>Do you have any food allergies or intolerances we should be aware of?</span>

          <mat-form-field appearance="fill" class="w-100 mt-16">
            <mat-label>Allergies</mat-label>
            <mat-chip-grid #allergyChipGrid formControlName="allergyList">
              <mat-chip-row *ngFor="let allergy of allergies"
                            (removed)="removeAllergy(allergy)">
                {{ allergy.name }}
                <button matChipRemove>
                  <mat-icon matChipRemove>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="New allergy..."
                     [matChipInputFor]="allergyChipGrid"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addAllergy($event)"/>
            </mat-chip-grid>
          </mat-form-field>
        </div>

        <div class="mt-16">
          <button mat-raised-button color="primary" class="mx-10" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" class="mx-10" matStepperNext [disabled]="allergiesForm.invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="dailyMealCostForm">
      <form [formGroup]="dailyMealCostForm">

        <h1>Price</h1>

        <div class="form-control">
          <span>How much would you ideally like to spend on meals per day?</span>
          <mat-radio-group formControlName="price">
            <mat-radio-button class="d-block" value="Less than $10">Less than $10</mat-radio-button>
            <mat-radio-button class="d-block" value="$10 - $20">$10 - $20</mat-radio-button>
            <mat-radio-button class="d-block" value="$20 - $30">$20 - $30</mat-radio-button>
            <mat-radio-button class="d-block" value="$30 - $40">$30 - $40</mat-radio-button>
            <mat-radio-button class="d-block" value="$40 or more">$40 or more</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="mt-16">
          <button mat-raised-button color="primary" class="mx-10" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" class="mx-10" matStepperNext [disabled]="dailyMealCostForm.invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="additionalConsiderationsForm">
      <form [formGroup]="additionalConsiderationsForm">

        <h1>Additional Considerations</h1>

        <div class="form-control">
          <span>Please provide any additional information or preferences you would like us to consider when creating your personalized food plan:</span>
          <br>
          <br>

          <mat-form-field class="w-100">
            <mat-label>Additional information</mat-label>
            <textarea matInput formControlName="information" placeholder="Additional Information"></textarea>
          </mat-form-field>
        </div>


        <div class="mt-16">
          <button mat-raised-button color="primary" class="mx-10" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" class="mx-10" (click)="submitForm()">Submit</button>
        </div>
      </form>
    </mat-step>

  </mat-stepper>
</div>
