.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  width: 100%;
  background-color: #f5f5f5;
}

.stepper {
  width: 35rem;
  box-shadow: 0 0 10px 1px #999999;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.mx-10 {
  margin: 0 10px;
}

.my-10 {
  margin: 10px 0;
}

.d-block {
  display: block;
}

.stepper-label {
  font-size: 1.3rem !important;
  font-weight: 600;
}

:host ::ng-deep mat-radio-button label, form div {
  font-size: 1.15rem !important;
}

.mt-16 {
  margin-top: 16px;
}



.form-control {
  margin: 10px 0;
  span {
    font-weight: 500;
  }
}

:host ::ng-deep .mat-vertical-content-container {
  margin-right: 36px !important;
}
